<a href="https://colab.research.google.com/github/sophiamir/datamining/blob/main/MirSophia_Homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Overview" data-toc-modified-id="Overview-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Overview</a></span></li><li><span><a href="#Notebook-Configuration" data-toc-modified-id="Notebook-Configuration-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Notebook Configuration</a></span><ul class="toc-item"><li><span><a href="#Google-drive" data-toc-modified-id="Google-drive-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Google drive</a></span></li><li><span><a href="#Warning" data-toc-modified-id="Warning-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Warning</a></span></li><li><span><a href="#Matplotlib" data-toc-modified-id="Matplotlib-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Matplotlib</a></span></li><li><span><a href="#TensorFlow" data-toc-modified-id="TensorFlow-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>TensorFlow</a></span></li><li><span><a href="#Random-seed" data-toc-modified-id="Random-seed-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Random seed</a></span></li></ul></li><li><span><a href="#Data-Preprocessing" data-toc-modified-id="Data-Preprocessing-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Preprocessing</a></span></li><li><span><a href="#Hyperparameter-Tuning" data-toc-modified-id="Hyperparameter-Tuning-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Hyperparameter Tuning</a></span></li><li><span><a href="#Model-Selection" data-toc-modified-id="Model-Selection-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Model Selection</a></span></li><li><span><a href="#Generating-the-Submission-File" data-toc-modified-id="Generating-the-Submission-File-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Generating the Submission File</a></span><ul class="toc-item"><li><span><a href="#Creating-the-directory-for-the-submission-file" data-toc-modified-id="Creating-the-directory-for-the-submission-file-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Creating the directory for the submission file</a></span></li><li><span><a href="#Generating-the-submission-file" data-toc-modified-id="Generating-the-submission-file-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Generating the submission file</a></span></li></ul></li></ul></div>

<b>
<p>
<center>
<font size="5">
Popular Machine Learning Methods: Idea, Practice and Math
</font>
</center>
</p>

<p>
<center>
<font size="4">
Part 2, Chapter 2, Section 2: Training Shallow Models
</font>
</center>
</p>
    
<p>
<center>
<font size="4">
Homework 1
</font>
</center>
</p>

<p>
<center>
<font size="3">
Data Science, Columbian College of Arts & Sciences, George Washington University
</font>
</center>
</p>

<p>
<center>
<font size="3">
Yuxiao Huang
</font>
</center>
</p>
</b>

# Overview

- This notebook includes homework 1 for Training Shallow Models (Part 2, Chapter 2, Section 2).
- See the accompanied slides in our [github repository](https://github.com/yuxiaohuang/teaching/tree/master/gwu/machine_learning_I/fall_2022/slides/p2_shallow_learning/p2_c2_supervised_learning/p2_c2_s2_training_shallow_models).
- Here we will work on kaggle competation [New York City Taxi Trip Duration](https://www.kaggle.com/c/nyc-taxi-trip-duration/overview).
- The goal of this homework is tweaking the pipeline (including data preprocessing, hyperparameter tuning and model selection) implemented in [/p2 c2 s2 training shallow models/case_study](https://github.com/yuxiaohuang/teaching/blob/master/gwu/machine_learning_I/fall_2022/code/p2_shallow_learning/p2_c2_supervised_learning/p2_c2_s2_training_shallow_models/case_study/case_study.ipynb) to make it work for the new kaggle competation mentioned above.
- Complete the missing parts indicated by # Implement me.
- Particularly, the code should
    - be bug-free (note that the output produced by your solution may not necessarily be the same as the provided output, due to version issues)
    - be commented
- **The baseline for this assignment is -0.332515. As per the grading rubrics (section 15 of the syllabus), if the validation score of your best model is lower than or the same as the baseline, you will only receive 80% of the full mark. See more details in the grading rubrics.**
- Submit an ipynb file named homework_1.ipynb to [blackboard](https://blackboard.gwu.edu) folder /Assignments/Homework_1/.

# Notebook Configuration

## Google drive

In [4]:
from google.colab import drive
import sys

# Mount Google Drive
drive.mount('/content/drive')

# Get the absolute path of the current folder
abspath_curr = '/content/drive/My Drive/MachineLearningI/teaching/gwu/machine_learning_I/fall_2022/homework/'

# Get the absolute path of the shallow utilities folder
abspath_util_shallow = '/content/drive/My Drive/MachineLearningI/teaching/gwu/machine_learning_I/fall_2022/code/utilities/p2_shallow_learning/'

# Get the absolute path of the shallow models folder
abspath_model_shallow = '/content/drive/My Drive/MachineLearningI/teaching/gwu/machine_learning_I/fall_2022/code/models/p2_shallow_learning/'

Mounted at /content/drive

## Warning

In [5]:
import warnings

# Ignore warnings
warnings.filterwarnings('ignore')

## Matplotlib

In [6]:
import matplotlib.pyplot as plt
%matplotlib inline 

# Set matplotlib sizes
plt.rc('font', size=20)
plt.rc('axes', titlesize=20)
plt.rc('axes', labelsize=20)
plt.rc('xtick', labelsize=20)
plt.rc('ytick', labelsize=20)
plt.rc('legend', fontsize=20)
plt.rc('figure', titlesize=20)

## TensorFlow

In [7]:
# The magic below allows us to use tensorflow version 2.x
%tensorflow_version 2.x 
import tensorflow as tf
from tensorflow import keras

Colab only includes TensorFlow 2.x; %tensorflow_version has no effect.

## Random seed

In [8]:
# The random seed
random_seed = 335644

# Set random seed in tensorflow
tf.random.set_seed(random_seed)

# Set random seed in numpy
import numpy as np
np.random.seed(random_seed)

# Data Preprocessing
**Note: You will need to specify the date time variables, *datetime_vars*, when handling date time variables**.

In [9]:
# Change working directory to the absolute path of the shallow utilities folder
%cd $abspath_util_shallow

# Import the shallow utilities
%run pmlm_utilities_shallow.ipynb

/content/drive/My Drive/MachineLearningI/teaching/gwu/machine_learning_I/fall_2022/code/utilities/p2_shallow_learning

## Loading the data

In [12]:
import pandas as pd

# Load the raw training data
df_raw_train = pd.read_csv(abspath_curr + 'nyc-taxi-trip-duration/train.csv', header=0)
# Make a copy of df_raw_train
df_train = df_raw_train.copy(deep=True)

# Load the raw test data
df_raw_test = pd.read_csv(abspath_curr + 'nyc-taxi-trip-duration/test.csv', header=0)
# Make a copy of df_raw_test
df_test = df_raw_test.copy(deep=True)

# Get the name of the target
target = 'trip_duration'

In [13]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

    # rows  # columns
0  1458644         11

In [14]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  625134          9

In [15]:
# Print the first 5 rows of df_train
df_train.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [16]:
# Print the first 5 rows of df_test
df_test.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N

## Splitting the data
### I'm splitting the data into training and validation sets

In [17]:
from sklearn.model_selection import train_test_split

# Divide the training data into training (80%) and validation (20%)
df_train, df_val = train_test_split(df_train, train_size=0.8, random_state=random_seed)

# Reset the index
df_train, df_val = df_train.reset_index(drop=True), df_val.reset_index(drop=True)

## Identifying Uncommon Features

In [18]:
# Call common_var_checker to check for common features

df_common_var = common_var_checker(df_train, df_val, df_test, target)

# Print df_common_var
df_common_var

           common var
0    dropoff_latitude
1   dropoff_longitude
2                  id
3     passenger_count
4     pickup_datetime
5     pickup_latitude
6    pickup_longitude
7  store_and_fwd_flag
8       trip_duration
9           vendor_id

In [19]:
# Get the features in the training data but not in the validation or test data
uncommon_feature_train_not_val_test = np.setdiff1d(df_train.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_train_not_val_test, columns=['uncommon feature'])

   uncommon feature
0  dropoff_datetime

In [20]:
# Get the features in the validation data but not in the training or test data
uncommon_feature_val_not_train_test = np.setdiff1d(df_val.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_val_not_train_test, columns=['uncommon feature'])

   uncommon feature
0  dropoff_datetime

## Dropping the uncommon feature

In [21]:
# Remove the uncommon features from the training data
df_train = df_train.drop(columns=uncommon_feature_train_not_val_test)

# Print the first 5 rows of df_train
df_train.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id3265481,2,2016-03-31 17:52:30,1,-73.956055,40.763668,-73.981155,40.747963,N,1050
1,id2953706,1,2016-04-04 18:39:13,4,-73.972702,40.756168,-73.983627,40.758408,N,449
2,id1989591,2,2016-01-08 14:06:08,1,-73.977966,40.773579,-73.984329,40.759560,N,360
3,id3013096,2,2016-03-12 23:42:35,1,-73.940750,40.793114,-73.985405,40.731915,N,1178
4,id1261674,2,2016-01-21 22:45:17,1,-74.012123,40.702209,-74.000977,40.710258,N,261

In [22]:
# Remove the uncommon features from the validation data
df_val = df_val.drop(columns=uncommon_feature_val_not_train_test)

# Print the first 5 rows of df_val
df_val.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id0855941,2,2016-03-30 18:46:21,1,-73.990311,40.756378,-73.993774,40.762077,N,463
1,id2686357,2,2016-02-20 14:16:32,1,-73.960037,40.776039,-73.968109,40.761292,N,331
2,id0407101,2,2016-05-06 13:41:37,1,-73.973495,40.752628,-73.969627,40.757477,N,315
3,id0406486,1,2016-06-25 23:17:10,4,-73.982506,40.742481,-73.977905,40.754677,N,468
4,id0289545,1,2016-03-04 21:18:50,1,-73.971359,40.754993,-73.989098,40.757832,N,493

## Handling Identifiers

In [23]:
# combining the training, validation, and test data
# Combine df_train, df_val and df_test
df = pd.concat([df_train, df_val, df_test], sort=False)

In [24]:
# identifying the identifiers from the data

# Call id_checker on df

df_id = id_checker(df)

# Print the first 5 rows of df_id
df_id.head()

          id
0  id3265481
1  id2953706
2  id1989591
3  id3013096
4  id1261674

## Removing the identifiers from the data

In [25]:
import numpy as np

# Remove identifiers from df_train
df_train.drop(columns=np.intersect1d(df_id.columns, df_train.columns), inplace=True)

# Remove identifiers from df_val
df_val.drop(columns=np.intersect1d(df_id.columns, df_val.columns), inplace=True)

# Remove identifiers from df_test
df_test.drop(columns=np.intersect1d(df_id.columns, df_test.columns), inplace=True)

In [26]:
# Print the first 5 rows of df_train
df_train.head()

,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,2,2016-03-31 17:52:30,1,-73.956055,40.763668,-73.981155,40.747963,N,1050
1,1,2016-04-04 18:39:13,4,-73.972702,40.756168,-73.983627,40.758408,N,449
2,2,2016-01-08 14:06:08,1,-73.977966,40.773579,-73.984329,40.759560,N,360
3,2,2016-03-12 23:42:35,1,-73.940750,40.793114,-73.985405,40.731915,N,1178
4,2,2016-01-21 22:45:17,1,-74.012123,40.702209,-74.000977,40.710258,N,261

In [27]:
# Print the first 5 rows of df_val
df_val.head()

,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,2,2016-03-30 18:46:21,1,-73.990311,40.756378,-73.993774,40.762077,N,463
1,2,2016-02-20 14:16:32,1,-73.960037,40.776039,-73.968109,40.761292,N,331
2,2,2016-05-06 13:41:37,1,-73.973495,40.752628,-73.969627,40.757477,N,315
3,1,2016-06-25 23:17:10,4,-73.982506,40.742481,-73.977905,40.754677,N,468
4,1,2016-03-04 21:18:50,1,-73.971359,40.754993,-73.989098,40.757832,N,493

In [28]:
# Print the first 5 rows of df_test
df_test.head()

,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N

## Transforming Date Time Variables

In [29]:
# Get the date time variable
datetime_vars = ['pickup_datetime']

In [30]:
# Call datetime_transformer on df_train

df_train = datetime_transformer(df_train, datetime_vars)

# Print the first 5 rows of df_train
df_train.head()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_datetime_year,pickup_datetime_month,pickup_datetime_day,pickup_datetime_hour,pickup_datetime_minute,pickup_datetime_second
0,2,1,-73.956055,40.763668,-73.981155,40.747963,N,1050,2016,3,31,17,52,30
1,1,4,-73.972702,40.756168,-73.983627,40.758408,N,449,2016,4,4,18,39,13
2,2,1,-73.977966,40.773579,-73.984329,40.759560,N,360,2016,1,8,14,6,8
3,2,1,-73.940750,40.793114,-73.985405,40.731915,N,1178,2016,3,12,23,42,35
4,2,1,-74.012123,40.702209,-74.000977,40.710258,N,261,2016,1,21,22,45,17

In [31]:
# Call datetime_transformer on df_val
# See the implementation in pmlm_utilities.ipynb
df_val = datetime_transformer(df_val, datetime_vars)

# Print the first 5 rows of df_val
df_val.head()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_datetime_year,pickup_datetime_month,pickup_datetime_day,pickup_datetime_hour,pickup_datetime_minute,pickup_datetime_second
0,2,1,-73.990311,40.756378,-73.993774,40.762077,N,463,2016,3,30,18,46,21
1,2,1,-73.960037,40.776039,-73.968109,40.761292,N,331,2016,2,20,14,16,32
2,2,1,-73.973495,40.752628,-73.969627,40.757477,N,315,2016,5,6,13,41,37
3,1,4,-73.982506,40.742481,-73.977905,40.754677,N,468,2016,6,25,23,17,10
4,1,1,-73.971359,40.754993,-73.989098,40.757832,N,493,2016,3,4,21,18,50

In [32]:
# Call datetime_transformer on df_test
# See the implementation in pmlm_utilities.ipynb
df_test = datetime_transformer(df_test, datetime_vars)

# Print the first 5 rows of df_test
df_test.head()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,pickup_datetime_year,pickup_datetime_month,pickup_datetime_day,pickup_datetime_hour,pickup_datetime_minute,pickup_datetime_second
0,1,1,-73.988129,40.732029,-73.990173,40.756680,N,2016,6,30,23,59,58
1,1,1,-73.964203,40.679993,-73.959808,40.655403,N,2016,6,30,23,59,53
2,1,1,-73.997437,40.737583,-73.986160,40.729523,N,2016,6,30,23,59,47
3,2,1,-73.956070,40.771900,-73.986427,40.730469,N,2016,6,30,23,59,41
4,1,1,-73.970215,40.761475,-73.961510,40.755890,N,2016,6,30,23,59,33

## Checking For Missing Data

In [36]:
# Combine df_train, df_val and df_test
df = pd.concat([df_train, df_val, df_test], sort=False)

In [37]:
# using the combined df 
# Call nan_checker on df
# this checks the NaNs, their propoprtion and data type 

df_nan = nan_checker(df)

# Print df_nan
df_nan

# it shows that there are missing values in the data but only in the target so I think it's picking them up from the test data
# since it's less than 50% I don't think there's a need to impute the missing data

             var  proportion    dtype
0  trip_duration         0.3  float64

In [42]:
# Print the unique data type of variables with NaN
pd.DataFrame(df_nan['dtype'].unique(), columns=['dtype'])

     dtype
0  float64

In [43]:
# Get the variables with missing values, their proportion of missing values and data type
df_miss = df_nan[df_nan['dtype'] == 'float64'].reset_index(drop=True)

# Print df_miss
df_miss

             var  proportion    dtype
0  trip_duration         0.3  float64

## Identifying and Encoding Categorical Variables

In [44]:
# Print the unique data type of variables in df
pd.DataFrame(df.dtypes.unique(), columns=['dtype'])

     dtype
0    int64
1  float64
2    uint8

In [45]:
# Call cat_var_checker on df

df_cat = cat_var_checker(df)

# Print the dataframe
df_cat

Empty DataFrame
Columns: [var, nunique]
Index: []

In [41]:
# One-hot-encode the categorical features in the combined data
df = pd.get_dummies(df, columns=np.setdiff1d(df_cat['var'], [target]))

# Print the first 5 rows of df
df.head()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,pickup_datetime_year,pickup_datetime_month,pickup_datetime_day,pickup_datetime_hour,pickup_datetime_minute,pickup_datetime_second,store_and_fwd_flag_N,store_and_fwd_flag_Y
0,2,1,-73.956055,40.763668,-73.981155,40.747963,1050.0,2016,3,31,17,52,30,1,0
1,1,4,-73.972702,40.756168,-73.983627,40.758408,449.0,2016,4,4,18,39,13,1,0
2,2,1,-73.977966,40.773579,-73.984329,40.759560,360.0,2016,1,8,14,6,8,1,0
3,2,1,-73.940750,40.793114,-73.985405,40.731915,1178.0,2016,3,12,23,42,35,1,0
4,2,1,-74.012123,40.702209,-74.000977,40.710258,261.0,2016,1,21,22,45,17,1,0

## Separating the val, train, and test data

In [46]:
# Separating the training data
df_train = df.iloc[:df_train.shape[0], :]

# Separating the validation data
df_val = df.iloc[df_train.shape[0]:df_train.shape[0] + df_val.shape[0], :]

# Separating the test data
df_test = df.iloc[df_train.shape[0] + df_val.shape[0]:, :]

In [47]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

    # rows  # columns
0  1166915         15

In [48]:
# Print the dimension of df_val
pd.DataFrame([[df_val.shape[0], df_val.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  291729         15

In [49]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  625134         15

## Splitting the feature and target

In [50]:
# Get the feature matrix
X_train = df_train[np.setdiff1d(df_train.columns, [target])].values
X_val = df_val[np.setdiff1d(df_val.columns, [target])].values
X_test = df_test[np.setdiff1d(df_test.columns, [target])].values

# Get the target vector
y_train = df_train[target].values
y_val = df_val[target].values
y_test = df_test[target].values

## Standardizing the features and target

In [51]:
from sklearn.preprocessing import StandardScaler

# The StandardScaler
ss = StandardScaler()

In [52]:
# Standardize the training data
X_train = ss.fit_transform(X_train)

# Standardize the validation data
X_val = ss.transform(X_val)

# Standardize the test data
X_test = ss.transform(X_test)

In [53]:
# Standardize the training data
y_train = ss.fit_transform(y_train.reshape(-1, 1)).reshape(-1)

# Standardize the validation data
y_val = ss.transform(y_val.reshape(-1, 1)).reshape(-1)

# Standardize the test data
y_test = ss.transform(y_test.reshape(-1, 1)).reshape(-1)

# Hyperparameter Tuning

## Creating the dictionary of the models

In the dictionary:
- the key is the acronym of the model
- the value is the model

In [54]:
from sklearn.linear_model import SGDRegressor

models = {'sgd': SGDRegressor(random_state=random_seed)}

## Creating the dictionary of the pipelines

In the dictionary:
- the key is the acronym of the model
- the value is the pipeline, which, for now, only includes the model

In [55]:
from sklearn.pipeline import Pipeline

pipes = {}

for acronym, model in models.items():
    pipes[acronym] = Pipeline([('model', model)])

### Getting the predefined split cross-validator

In [56]:
# Get the:
# feature matrix and target velctor in the combined training and validation data
# target vector in the combined training and validation data
# PredefinedSplit

X_train_val, y_train_val, ps = get_train_val_ps(X_train, y_train, X_val, y_val)

### Using GridSearchCV

### Creating the dictionary of the parameter grids

In the dictionary:
- the key is the acronym of the model
- the value is the parameter grid of the model

In [57]:
param_grids = {}

### The parameter grid for SGDRegressor

The hyperparameters we want to fine-tune are:
- eta0
- alpha

In [58]:
# The parameter grid of eta
eta_grid = [0.001, 0.01]

# The parameter grid of alpha
alpha_grid = [0.01, 0.1]

# Update param_grids
param_grids['sgd'] = [{'model__eta0': eta_grid,
                       'model__alpha': alpha_grid}]

### Creating the directory for the cv results produced by gridsearch

In [59]:
# Make directory
directory = os.path.dirname(abspath_curr + 'result/cv_results/GridSearchCV/')
if not os.path.exists(directory):
    os.makedirs(directory)

### Tuning the hyperparameters

In [60]:
from sklearn.model_selection import GridSearchCV

# The list of [best_score_, best_params_, best_estimator_] obtained by GridSearchCV
best_score_params_estimator_gs = []

# For each model
for acronym in pipes.keys():
    # GridSearchCV
    gs = GridSearchCV(estimator=pipes[acronym],
                      param_grid=param_grids[acronym],
                      scoring='neg_mean_squared_error',
                      n_jobs=2,
                      cv=ps,
                      return_train_score=True)
        
    # Fit the pipeline
    gs = gs.fit(X_train_val, y_train_val)
    
    # Update best_score_params_estimator_gs
    best_score_params_estimator_gs.append([gs.best_score_, gs.best_params_, gs.best_estimator_])
    
    # Sort cv_results in ascending order of 'rank_test_score' and 'std_test_score'
    cv_results = pd.DataFrame.from_dict(gs.cv_results_).sort_values(by=['rank_test_score', 'std_test_score'])
    
    # Get the important columns in cv_results
    important_columns = ['rank_test_score',
                         'mean_test_score', 
                         'std_test_score', 
                         'mean_train_score', 
                         'std_train_score',
                         'mean_fit_time', 
                         'std_fit_time',                        
                         'mean_score_time', 
                         'std_score_time']
    
    # Move the important columns ahead
    cv_results = cv_results[important_columns + sorted(list(set(cv_results.columns) - set(important_columns)))]

    # Write cv_results file
    cv_results.to_csv(path_or_buf=abspath_curr + 'result/cv_results/GridSearchCV/' + acronym + '.csv', index=False)

# Sort best_score_params_estimator_gs in descending order of the best_score_
best_score_params_estimator_gs = sorted(best_score_params_estimator_gs, key=lambda x : x[0], reverse=True)

# Print best_score_params_estimator_gs
pd.DataFrame(best_score_params_estimator_gs, columns=['best_score', 'best_param', 'best_estimator'])

,best_score,best_param,best_estimator
0,-2.489287,"{'model__alpha': 0.01, 'model__eta0': 0.01}","(SGDRegressor(alpha=0.01, random_state=335644))"

# Model Selection

In [61]:
# Get the best_score, best_params and best_estimator obtained by GridSearchCV
best_score_gs, best_params_gs, best_estimator_gs = best_score_params_estimator_gs[0]

# Generating the Submission File
Use the best model selected earlier to generate the submission file for this kaggle competition.

## Creating the directory for the submission file

In [ ]:
# Make directory
directory = os.path.dirname(abspath_curr + 'result/submission/')
if not os.path.exists(directory):
    os.makedirs(directory)

## Generating the submission file

In [ ]:
# Get the prediction on the testing data using best_model
y_test_pred = best_estimator_gs.predict(X_test)

# Get the dataframe of y_test_pred, which has the same shape as df_train
df_y_test_pred = pd.DataFrame(np.tile(y_test_pred.reshape(-1, 1), df_train.shape[1]),
                              columns=df_train.columns)

# Transform df_y_test_pred back to the original scale
df_y_test_pred = pd.DataFrame(ss.inverse_transform(df_y_test_pred),
                              columns=df_train.columns)

# Get the submission dataframe
df_submit = pd.DataFrame(np.hstack((df_raw_test[['id']], df_y_test_pred[[target]])),
                         columns=['id', target])                                                                                      

# Generate the submission file
df_submit.to_csv(abspath_curr + 'result/submission/submission.csv', index=False)